@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Slab', serif;
}

.first-section{
  background-color: #1f2937;
}

#header-logo{
  font-size: 24px;
  color: #f9faf8;
}

.header-link{
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px;
}

.navbar{
  display: flex;
  flex-direction: row;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.left-navbar,.right-navbar{
display: flex;
width: 50%;
justify-content: center;
align-items: center;
}

h1{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.content{
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.right-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.left-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: 150px;
}

img{
  border-radius: 10px;
  width: 500px;
  margin-bottom: 50px;
}

.first-p{
  font-size: 18px;
  color: #E5E7EB;
  
}

.sign-up-first-section{
  background-color: #3882f6;
  color: #F9FAF8;
  width: 100px;
  height: 35px;
  border: 1px #3882f6 ;
  border-radius: 10px;
}

h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.row-of-blue-divs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 100px;
}

.box-blue{
  border: 3px solid #3882f6;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-p{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.third-section{
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3{
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f3927;
  text-align: center;
}

.third-p{
  font-size: 18px;
}

#p-div{
  display: flex;
  justify-content: flex-end;
  margin-right: 25%;
}